$w1920: 1920px;
$w1680: 1680px;
$w1600: 1600px;
$w1440: 1440px;
$w1366: 1366px;
$w1280: 1280px;
$w1200: 1200px;
$w1024: 1024px;

$w800: 800px;
$w768: 768px;
$w740: 740px;
$w640: 640px;
$w568: 568px;
$w425: 425px;
$w360: 360px;
$w320: 320px;

@mixin mediaDesctop($width) {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin mediaDesctopTablet($width1, $width2) {
  @media only screen and (min-width: #{$width1}) and (max-width: #{$width2}) {
    @content;
  }
}

@mixin mediaMobileHorizontal($width, $height) {
  @media only screen and (max-width: $width) and (max-height: $height) and (orientation: landscape) {
    @content;
  }
}
